/* header  */
header{
    background: linear-gradient(0deg, rgba(13, 10, 16, 0.5) 0%, rgb(144, 53, 53)) 100%;
    background-image: url('/public/storage/img/hero.jpeg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}